* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Slab", serif;
  height: 100vh;
}

.spinner {
  height: 100%;
}

.cards {
  position: relative;
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#spinner_arrow {
  z-index: 20;
  position: absolute;
  align-self: center;
}

.chart_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

#chart {
  user-select: none;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
}
#spinner_content {
  position: absolute;
  bottom: 35px;
  font-size: 1.4rem;
  justify-self: center;
}
